# Eclipse
.classpath
.project
.settings/
*.launch
.checkstyle

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
target/
target/**

# Gemfire 
vf.gf.dmn-events.txt
vf.gf.dmn-license.cfg

# Logs
*.log

#jenv
.java-version
